@font-face {
  font-family: "SuperMario"; /*a name to be used later*/
  src: url("assets/SuperMario256.ttf"); /*URL to font*/
}

html {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#e6001f, #fff7e7);
  font-family: "SuperMario";
}

.container {
  margin-top: 15rem;
}

.welcome {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 4rem;
  color: #fff7e7;
}

.logo {
  height: 400px;
}

.btn-lg {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff7e7;
  border-color: #fff7e7;
  width: 20rem;
  font-size: 2rem;
  margin-top: 3rem;
}

.btn:hover {
  background-color: #128bd1;
  border-color: #128bd1;
}

.easter-egg {
  position: fixed;
  display: none;
}

#luigi {
  top: 21%;
  right: 9%;
}

#mario {
  top: 3%;
  left: 16%;
}

#krabby-patty {
  position: fixed;
  display: none;
}

#hard-mode {
  position: fixed;
  display: none;
  bottom: 5%;
  right: 5%;
}

.form-check-label {
  font-size: 1.2rem;
  color: #128bd1;
}

@media (max-width: 768px) {
  .container {
    margin-top: 3rem;
  }
  .welcome {
    font-size: 3rem;
  }

  .logo {
    height: 250px;
  }

  .btn-lg {
    width: 15rem;
    font-size: 1.5rem;
  }

  .easter-egg {
    width: 50%;
  }
}
